<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason.jason_workshop_3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/heart_pulse"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.LoginView.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.UserMainView.UserMainActivity" />
        <activity
            android:name=".View.FeatureView.UserCheckBMIActivity"/>
        <activity android:name=".View.FeatureView.FitnessScheduleActivity" />
        <activity android:name=".View.FeatureView.WaterDrinkingActivity" />
        <activity android:name=".View.FeatureView.DietActivity" />
        <activity android:name=".View.LoginView.Signup"></activity>
    </application>

</manifest>
