<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason.jason_workshop_3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity android:name=".View.UserMainView.UserMainActivity" />
        <activity android:name=".View.FeatureView.WeeklyFitnessActivity" />
        <activity android:name=".View.FeatureView.DailyDrinkActivity" />
        <activity android:name=".View.FeatureView.DailyDietActivity" />
        <activity
            android:name=".View.LoginView.SignupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.FeatureView.MonthlyCheckBMIActivity" />
        <activity android:name=".View.FeatureView.BMIChartActivity" />
        <activity android:name=".View.LoginView.LoginActivity" />
        <activity android:name=".View.FeatureView.FoodActivity" />
        <activity android:name=".View.LoginView.TwitterLoginActivity" />
        <activity android:name=".View.LoginView.TwitterAuthenticationActivity" />
        <activity android:name=".View.FeatureView.Alarm.DrinkAlarmActivity" />

        <receiver
            android:name=".View.FeatureView.Alarm.AlarmReceiver"
            android:enabled="true"></receiver>

        <!--<activity android:name=".Demo"></activity>-->
    </application>

</manifest>
